.testimonial_card_parent {
  width: 500px;
  /* height: 350px !important; */
  height: 40vh;
  border-radius: 20px;
  margin: 0 20px 30px 20px;
  box-shadow: 5px 5px 10px 10px lightgray;
  padding: 20px;
  transition: all 0.2s ease;
  cursor: pointer;
}
.people {
  border-radius: 10px;
  width: 100px !important;
}
